// Quote display
body[data-slug="quotes"] {
  & blockquote {
    border-left: none;
    padding-left: 0;
    margin: 0;
  }

  & article {
    & > hr::after {
      content: "";
    }

    & > p {
      padding-top: 1rem;
      padding-left: 3rem;
      margin: inherit;

      &:before,
      &:after {
        font-size: 2em;
        line-height: 0.1em;
        vertical-align: -0.4em;
      }

      &:before {
        content: "“";
        margin-right: 0.25em;
      }

      &:after {
        content: "”";
        margin-left: 0.25em;
      }
    }
  }
}
