@use "../base.scss";
@use "../variables.scss" as *;

body[data-layout="technical"] {
  .sidenotes {
    display: none;
  }

  .page-footer {
    padding: 0;

    & > .recommendations,
    & > .backlinks {
      display: none;
    }
  }

  @media all and ($desktop) {
    .title-col:not(.popover *),
    .header-content:not(.popover *),
    .main-col:not(.popover *) {
      grid-column: 5/10;
    }

    .header-content:not(.popover *) {
      grid-column: 5/-1;
    }

    menu.tags:not(.popover *) {
      grid-column: 5/7;
    }

    ul.content-meta:not(.popover *) {
      grid-column: 9/10;
    }

    .left-col {
      grid-column: 1 / 3;
    }
  }
}
