@use "../../styles/variables.scss" as *;
@use "../../styles/mixin.scss" as *;

ul.content-meta {
  color: var(--gray);
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  cursor: pointer;
  margin: 0;
  grid-column: 8/10;

  padding-inline-start: 0;
  list-style: none;
  gap: 0.3rem;
  font-weight: 300;

  @media all and ($tablet) {
    grid-column: 6/-4;
  }

  @media all and ($mobile) {
    grid-column: 6/-4;
  }

  pre {
    color: var(--darkgray);
  }

  li > .container {
    display: flex;
    gap: 0.5em;
    align-items: baseline;
  }

  .clipboard-button {
    position: relative;
  }
}

.llm-source {
  color: inherit;
  font-weight: inherit;
  text-decoration: underline;
}
