@use "../../styles/variables.scss" as *;

@keyframes dropin {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.popover {
  z-index: 997;
  position: absolute;
  overflow: visible;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;

  .grid {
    grid-template-columns: 1fr 1fr !important;
  }

  .byline {
    & > * {
      &:last-child {
        border-left: 1px solid var(--lightgray);
      }
    }

    menu.tags {
      grid-column: 1 / 1 !important;
    }

    .content-meta {
      grid-column: 2 / 2 !important;
    }
  }

  #arrow {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
    transform: rotate(45deg);

    // Hide the overflow part of the arrow's border
    &::after {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      background: var(--light);
      border: 0px solid var(--lightgray);
    }

    &.top {
      border-bottom-width: 1px;
      border-right-width: 1px;

      &::after {
        top: -6px;
        left: -6px;
        z-index: -1;
      }
    }

    &.bottom {
      border-top-width: 1px;
      border-left-width: 1px;

      &::after {
        bottom: 1px;
        right: 1px;
      }
    }

    &.left {
      border-right-width: 1px;
      border-top-width: 1px;

      &::after {
        left: 1px;
        bottom: 1px;
      }
    }

    &.right {
      border-left-width: 1px;
      border-bottom-width: 1px;

      &::after {
        right: 1px;
        top: 1px;
      }
    }
  }

  &[data-arrow="false"] {
    #arrow {
      display: none;
    }
  }

  & > .popover-inner {
    position: relative;
    width: 26rem;
    max-height: 18rem;
    padding: 1rem;
    font-weight: initial;
    font-style: initial;
    line-height: normal;
    font-size: initial;
    font-family: var(--bodyFont);
    border: 1px solid var(--lightgray);
    border-radius: var(--border-radius);
    background-color: var(--light);
    box-shadow:
      0 14px 50px rgba(27, 33, 48, 0.12),
      0 10px 30px rgba(27, 33, 48, 0.16);
    overflow: auto;
    white-space: normal;

    footer {
      display: none;
    }
  }

  & > .popover-inner[data-content-type] {
    &[data-content-type*="pdf"],
    &[data-content-type*="image"] {
      padding: 0;
      max-height: 100%;
      width: 36rem;
    }

    &[data-content-type*="image"] {
      img {
        margin: 0;
        border-radius: 0;
        display: block;
      }
    }

    &[data-content-type*="pdf"] {
      iframe {
        width: 100%;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1rem;
  }

  @media all and ($mobile) {
    display: none !important;
  }
}

.footnote-popover,
.bib-popover {
  color: var(--dark);

  & > .popover-inner {
    padding: 0.5rem 0.5rem 1rem;
  }
}

a:hover .popover,
.popover:hover {
  opacity: 1;
  visibility: visible;
}
