@use "../../styles/variables.scss" as *;

.sidenotes {
  grid-column: 9/12;

  @media all and ($tablet) {
    display: none;
  }

  @media all and ($mobile) {
    display: none;
  }

  & > ol {
    padding-inline-start: 0;
    list-style: none;
    position: relative;
    margin: 0;
  }

  & .sidenote-element {
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    display: block;
    max-width: $sidePanelWidth;
    margin-bottom: 1rem;
    border: 1px solid var(--gray);
    background-color: var(--light);

    @media all and ($tablet) {
      left: 4rem; // width of toc + column-gap
      max-width: calc(#{$sidePanelWidth} - 4rem);
    }

    &::before {
      content: attr(data-count);
      background-color: var(--light);
      font-size: 0.8em;
      font-weight: bold;
      margin-right: 0.5rem;
      position: absolute;
      top: -12px;
      left: 12px;
      padding: 1px 8px;
      border: 1px solid var(--tertiary);
    }

    &.in-view {
      opacity: 1;
    }

    &.collapsed {
      display: none;
    }

    & .sidenote-inner {
      max-height: 200px;
      overflow-y: auto;
      width: 100%;
      box-sizing: border-box;
      padding: 0.2rem 1rem;
    }
  }
}
