@media (hover: hover) and (pointer: fine) {
  body {
    cursor: var(--f-cursor-default);
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="search"],
  textarea {
    cursor: var(--f-cursor-text);
  }

  /* All pointer events */
  a,
  a *,
  button,
  [type="button"],
  [type="reset"],
  [type="submit"],
  select,
  input[type="checkbox"],
  input[type="radio"],
  label,
  .clickable,
  [role="button"],
  [role="link"],
  [role="menuitem"],
  [role="tab"],
  details summary,
  .interactive {
    cursor: var(--f-cursor-pointer);
  }

  /* All grab events */
  [draggable="true"],
  .draggable,
  .scrollable,
  .sortable,
  [role="slider"],
  ::-webkit-scrollbar-thumb,
  div:where(.overflow-auto, .overflow-x-auto, .overflow-y-auto) {
    cursor: var(--f-cursor-grab);

    &:active {
      cursor: var(--f-cursor-grabbing);
    }
  }

  button[aria-disabled="true"] {
    pointer-events: none;
  }
}

:target {
  scroll-margin-block-start: 20px;
}
