@use "sass:map";

:root {
  --link-underline-gradient-line-color: currentColor;

  // rose-pine-dawn
  --base: #faf4ed;
  --surface: var(--light);
  --overlay: var(--lightgray);
  --muted: var(--gray);
  --subtle: var(--darkgray);
  --text: var(--dark);
  --rose: var(--secondary);
  --love: var(--tertiary);
  --gold: rgba(234, 157, 52, 1);
  --pine: rgba(40, 105, 131, 1);
  --foam: rgba(86, 148, 159, 1);
  --iris: rgba(144, 122, 169, 1);
  --dag-highlights: var(--foam);
  --gray-200: rgba(0, 0, 0, 0.2);

  // fonts
  --kern: 12px;
  --border-radius: var(--kern);
  --align-cap-height: -6px;
  --align-baseline: -6px;
  --font-size: 17px;
  --line-height: 1.4;
  --line-px: calc(var(--line-height) * var(--font-size));
  --sidepanel-padding: 14px;
}

/**
 * Animation-related
 */
$base-duration: 1;
$row-delay: 0.4;
$col-delay: 0.2;
$rows: 4;
$cols: 8;
$max-delay: ($col-delay * $cols + $row-delay * $rows);

/**
 * Layout breakpoints
 * $mobile: screen width below this value will use mobile styles
 * $desktop: screen width above this value will use desktop styles
 * Screen width between $mobile and $desktop width will use the tablet layout.
 * assuming mobile < desktop
 */
$breakpoints: (
  mobile: 800px,
  desktop: 1200px,
);

$mobile: "(max-width: #{map.get($breakpoints, mobile)})";
$tablet: "(min-width: #{map.get($breakpoints, mobile)}) and (max-width: #{map.get($breakpoints, desktop)})";
$desktop: "(min-width: #{map.get($breakpoints, desktop)})";

$pageWidth: #{map.get($breakpoints, mobile)};
$sidePanelWidth: 320px; // 320px - 380px;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;

$mobileGrid: (
  templateRows: "auto auto auto auto auto",
  templateColumns: "auto",
  rowGap: "5px",
  columnGap: "5px",
  templateAreas:
    '"grid-sidebar-left"\
      "grid-header"\
      "grid-center"\
      "grid-sidebar-right"\
      "grid-footer"',
);
$tabletGrid: (
  templateRows: "auto auto auto auto",
  templateColumns: "#{$sidePanelWidth} auto",
  rowGap: "5px",
  columnGap: "5px",
  templateAreas:
    '"grid-sidebar-left grid-header"\
      "grid-sidebar-left grid-center"\
      "grid-sidebar-left grid-sidebar-right"\
      "grid-sidebar-left grid-footer"',
);
$desktopGrid: (
  templateRows: "auto auto auto",
  templateColumns: "#{$sidePanelWidth} auto #{$sidePanelWidth}",
  rowGap: "5px",
  columnGap: "5px",
  templateAreas:
    '"grid-sidebar-left grid-header grid-sidebar-right"\
      "grid-sidebar-left grid-center grid-sidebar-right"\
      "grid-sidebar-left grid-footer grid-sidebar-right"',
);